:root {
    --gap: 0.25rem;
}

my-app {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

my-app>menu {
    padding: 0;
}

dialog[open],
dialog[open]>form {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);
}

dialog[open]>form>footer,
dialog[open]>footer {
    padding-top: calc(var(--gap) * 4);
    align-self: flex-end;
}

.players {
    display: flex;
    row-gap: calc(var(--gap) * 2);
    column-gap: calc(var(--gap) * 10);
}

player {
    display: flex;
    flex-direction: column;
    align-items: center;

}

player .card,
card {
    --font-size: 1rem;
    --margin-side: calc(var(--gap) * 2);
    display: block;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid black;
    width: calc(var(--font-size) * 3);
    height: calc(var(--font-size) * 4.5);
    font-weight: 800;
    margin: 0 var(--margin-side);
}

player .card {
    color: #eee;
}

player .card[data-has-value=true] {
    background-color: #333;
}

card {
    cursor: pointer;
    transition: 0.2s;
}

card.is-selected {
    transform: translateY(-20%);
    color: #eee;
    background-color: #333;
    transition: 0.2s;
}

.deck {
    display: flex;
    align-self: center;
    justify-self: end;
}

.gutter {
    flex: 1;
}